<html>
<head>
    <meta charset="UTF-8">
    <title>weLink</title>
    <script src="__ROOT__/public/js/jquery-3.1.0.min.js"></script>
    <script src="__ROOT__/public/js/showTurn.js"></script>
    <style type="text/css">
        *{
            margin: 0px;
            padding: 0px;
        }
        .inform:hover{
            background-color: dodgerblue;
        }
        .小图标{
            width: 72px;
            height: 79px;
            position: fixed;
            right: 50px;
            bottom: 100px;
            cursor: pointer;
        }

    </style>
    <script>
        $(function(){

            $('.personlogo').mouseenter(function () {
                $('.personlogo').css('color', 'dodgerblue');
            })
            $('.personlogo').mouseleave(function () {
                $('.personlogo').css('color', 'white');
            })

            $('.searchman').hover(function(){
                $(this).css('background-color','aliceblue')
            },function(){
                $(this).css('background-color','white')
            })

            $('.exit').mouseenter(function () {
                $('.exit').css('color', 'dodgerblue');
            })
            $('.exit').mouseleave(function () {
                $('.exit').css('color', 'white');
            })
            $('.search-but').mouseenter(function () {
                $('.search-but').css('background-color', 'dodgerblue');
            })
            $('.search-but').mouseleave(function () {
                $('.search-but').css('background-color', '#007ed7');
            })
            $('input[name="keywords"]').focus(function () {
                $('input[name="keywords"]').val('');
                $('input[name="keywords"]').css('color', 'black');
            })

            /*返回首页*/
            $(function () {
                $(window).scroll(function(){
                    if ($(window).scrollTop()>100){        /*据顶距离多长出现*/
                        $("#置顶键").fadeIn(1500);
                    }
                    else
                    {
                        $("#置顶键").fadeOut(1500);
                    }
                });
//当点击跳转链接后，回到页面顶部位置
                $("#置顶键").click(function(){
                    $('body,html').animate({scrollTop:0},1000);   /*置顶的距离以及完成动画的时间*/
                    return false;             /*可有可无*/
                });
            });
        })
    </script>
</head>
<body bgcolor="#e9e9e9">

<div id="top-nav" style="width: 100%;height: 50px;background-color: dimgrey;position: fixed;z-index: 3">
    <div style="width: 1000px;height: 50px;margin: 0 auto/*;background-color: #00ff21*/;position: relative">
        <div id="left-nav" style="line-height: 50px;display: inline;float: left;">
            <a href="__APP__/Content/index" style="text-decoration: none;float: left"><b style='font-size: 20px;color: #ffffff;font-family: "arial", "微软雅黑"'>we</b><b style='font-size: 30px;font-family: "arial", "微软雅黑";color:dodgerblue'>Link</b></a>
            <form method="post" action="" style="float: left">
                <div style="margin-top: 10px;float: left;margin-left: 70px"><input type="text" style="width: 400px;height: 30px;border-radius: 5px;color: lightgray" value="搜索您的朋友或者感兴趣的事" name="keywords"></div>
                <div style="margin-top: 10px;float: left;margin-left: 5px;">
                    <input type="submit" value="O" style='width: 50px;height: 30px;background-color: #007ed7;border: 0 solid #000000;border-radius: 5px;color: #ffffff;font-family: "arial", "微软雅黑";font-size: 25px;line-height: 30px;cursor: pointer' class="search-but">
                </div>
            </form>
        </div>
        <div style="position: absolute;right: 0px;width: 180px;height: 30px;margin-top: 10px">                                                                                                           <!--消失提示-->
            <div style="width: 35px;height: 30px;float: left;line-height: 30px;" class="inform"><div class="infortx" style="width: 10px;height: 10px;background-color: #ff0000;border-radius: 50%;position: absolute;display: none"></div><a href="__APP__/Content/index"><img src="__ROOT__/public/images/消息logo.PNG"></a></div>
            <div style="width: 60px;height: 30px;float: left;margin-left: 5px;line-height: 30px"><a href="__APP__/Person/index" style="text-decoration: none"><b style='font-family: "arial", "微软雅黑";color: #ffffff;font-size: 13px' class="personlogo">个人中心</b></a></div>
            <div style="width: 60px;height: 30px;float: left;margin-left: 5px;line-height: 30px"><a href="__APP__/Index/index" style="text-decoration: none"><b style='font-family: "arial", "微软雅黑";color: #ffffff;font-size: 13px' class="exit">退出</b></a></div>
        </div>
    </div>
</div>

<div id="main" style="width: 1000px;height: auto;background-color: #e9e9e9;position: absolute;top: 70px;left: 50%;margin-left: -500px;">

    <div style="width: 715px;margin: 0px 10px 10px 0;height:auto;float: left;">
        <!--一条未读消息-->
        <foreach name="foreign" item="v">
        <div class="searchman" style="width: 350px;height: auto;margin-bottom: 5px;background-color: #ffffff;border: 1px solid lightgrey;float: left;margin-right: 5px;">
            <a href="__APP__/ForeignHome/index/friendid/{$v.userid}"><img src="__ROOT__/{$v.iconpath}" style="width: 80px;height: 80px;;float: left;margin-right: 10px;margin: 10px"></a>
            <b style='font-size: 20px;font-family: "arial", "微软雅黑";float: left;;margin-top: 7px;margin-bottom: 5px'><a href="__APP__/ForeignHome/index/friendid/{$v.userid}" style="text-decoration: none;color: rgba(11,73,113,0.85);">{$v.name}</a></b>
            <div style="width: 250px;height: auto;float: left;"><span style='font-size: 15px;font-family: "arial", "微软雅黑";color: dodgerblue;'>
                  {$v.school}</span>
            </div>
            <div style="width: 250px;height: auto;float: left;"><span style='font-size: 15px;font-family: "arial", "微软雅黑";color: lightgrey;'>
                  {$v.gexing}</span>
            </div>
        </div>
        <!--未读end-->
        </foreach>

    </div>

    <!--右侧广告区-->
    <div style="width: 275px;height: 200px;position: fixed;right: 50%;margin-right: -500px" class="轮播区">
        <div id="allswapImg">
            <div class="swapImg"><a href="{$lunbo.link}"><img src="__ROOT__/{$lunbo.picpath}" style="width: 275px;height: 200px"/></a></div>
        </div>
    </div>

</div>

<div id="置顶键" style="display: none;">
    <img src="__ROOT__/public/images/返回顶部.PNG" class="小图标">
</div>

</body>
</html>

<!--即时通讯-->
<script>
    $().ready(function(){
        t=setInterval("show()",3500);
    })
</script>
<script>
    function show() {
        $.ajax({
            "url":"__APP__/Content/info",
            cache:false,
            dataType:"html",
            "type":"post",
            /*"data":"username=jack&password=3",*/
            "data":{
                "p":1
            },
            "success":function(response,status,xhr){
                //若ajax.php输出值为1，则在ｐ标签总写入ｙｅｓ，
                //否则写入no
                if(response==1) {
                    $(".infortx").css('display','block');
                    clearInterval(t)
                }else {
                    $(".infortx").css('display','none');
                }
            }
        });

    }
</script>